@using Microsoft.AspNetCore.Identity
@inject UserManager<FinanceUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = User.IsInRole("Admin");
    var isPermiumuser = User.IsInRole("PremiumUser");
    var userid = user.Id;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker</title>
    <link href="~/cdnlink/csscdn/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/navbarcss/FinanceTrackerLayout.css" rel="stylesheet" />
</head>
<body>
    <!--nav bar of the page-->
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbarcolor">
            <div class="container">
                <a class="navbar-brand text-logo" href="#">Finance Tracker</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="@Url.Action("StartingPage","Operation")" class="nav-link active">Home</a>
                        </li>
                        @if (isAdmin)
                        {
                            <li class="nav-item ms-lg-5">
                                <a href="@Url.Action("Dashboard","Admin")" class="nav-link">AdminDashboard</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-lg-5">
                                <a href="@Url.Action("CalculateDashboard","Operation")" class="nav-link">Dashboard</a>
                            </li>
                        }
                        @if (isPermiumuser)
                        {
                            <li class="nav-item ms-lg-5">
                                <a href="@Url.Action("ShowBankStatus","FBank")" class="nav-link">Bank</a>
                            </li>
                        }
                        <li class="nav-item ms-lg-5">
                            <a href="@Url.Action("ShowNews","News")" class="nav-link">News</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ms-lg-5">
                                <form asp-controller="FinanceUser" asp-action="UserLogout" method="post">
                                    <button type="submit" class="nav-link">Log Out</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-lg-5">
                                <a href="@Url.Action("UserLogin","FinanceUser")" class="nav-link">Sign In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="mb-3 position-relative">
        @RenderBody()
    </section>
    <!--footer of the page-->
    <footer class="p-3 position-relative footer-color">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-3 col-6 d-flex mb-2 mb-md-0">
                    <img src="~/image/financelayout/financelogo.png" alt="logo" height="100"/>
                    <a class="navbar-brand text-logo mt-4" href="#">Finance Tracker</a>
                </div>
                <div class="col-md-3 col-6 d-flex mb-2 mb-md-0">
                    <ul>
                        <li class="list-unstyled">
                            <h5>Product</h5>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                Mint
                            </a>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                Personal Capital
                            </a>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                PocketGuard
                            </a>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                Moneydance
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-6 d-flex mb-2 mb-md-0">
                    <ul>
                        <li class="list-unstyled">
                            <h5>Resource</h5>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                Investopedia
                            </a>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                The Balance
                            </a>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                NerdWallet
                            </a>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                Khan Academy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-6 d-flex mb-2 mb-md-0">
                    <ul>
                        <li class="list-unstyled">
                            <h5>Social</h5>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                <i class="bi bi-facebook"></i>&#160;Facebook
                            </a>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                <i class="bi bi-twitter"></i>&#160;Twitter
                            </a>
                        </li>
                        <li class="list-unstyled">
                            <a href="#" class="text-decoration-none footer-link">
                                <i class="bi bi-linkedin"></i>&#160;LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <p class="lead fs-5">Copyright &copy; 2024 FinanceM.io</p>
            <a class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>
    <script src="~/cdnlink/jslibrary/bootstrap.bundle.min.js"></script>
</body>
</html>

