@model IEnumerable<FinanceTracker.ViewModels.operationView.AdminUserViewModel>
@{
    Layout = "_FinanceAdminLayous";
}
<link href="~/cdnlink/csscdn/bootstrap.min.css" rel="stylesheet" />
<link href="~/cdnlink/csscdn/datatables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/cdnlink/csscdn/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/cdnlink/csscdn/buttons.bootstrap4.min.css" rel="stylesheet" />
<style>
    .full-height {
        min-height: 80vh;
    }
</style>
<section>
    <div class="container">
        <table id="showcashboard" class="table table-bordered table-hover mt-4">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>
                        <td class="text-center">
                            <a href="@Url.Action("UserEdit", "Admin", new { userid = user.UserId })" class="btn btn-warning">Edit</a>
                        </td>
                        <td class="text-center">
                            <form asp-controller="Admin" asp-action="UserDelete" method="post">
                                <input type="hidden" name="userId" value="@user.UserId" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script src="~/cdnlink/jslibrary/bootstrap.bundle.min.js"></script>
<script src="~/cdnlink/jslibrary/jquery.min.js"></script>
<script src="~/cdnlink/jslibrary/datatablejs/jquery.datatables.min.js"></script>
<script src="~/cdnlink/jslibrary/datatablejs/datatables.bootstrap4.min.js"></script>
<script src="~/cdnlink/jslibrary/datatablejs/datatables.responsive.min.js"></script>
<script src="~/cdnlink/jslibrary/datatablejs/responsive.bootstrap4.min.js"></script>
<script src="~/cdnlink/jslibrary/datatablejs/datatables.buttons.min.js"></script>
<script src="~/cdnlink/jslibrary/datatablejs/buttons.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#showcashboard').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            
        });
    });

    function adjustSectionHeight() {
        const section = document.getElementById('dynamicSection');
        if (window.innerHeight < 800) {
            section.classList.add('full-height');
        } else {
            section.classList.remove('full-height');
        }
    }
    adjustSectionHeight();
    window.addEventListener('resize', adjustSectionHeight);
</script>
